<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <div sec:authorize="isAuthenticated()">
            <h2> Łączna liczba treningów: <a th:text="${statistic?.trainingCount}"></a></h2>
            <h2> Łączny czas trwania treningów: <a th:text="${statistic?.sumMovingTime}"></a></h2>
            <h2> Średni czas trwania treningów: <a th:text="${statistic?.avgMovingTime}"></a></h2>
            <h2> Łączny dystans treningów: <a th:text="${statistic?.sumDistance}"></a> km</h2>
            <h2> Średni dystans treningów: <a th:text="${statistic?.avgDistance}"></a> km</h2>
            <h2> Łączna suma kalorii: <a th:text="${statistic?.sumCalories}"></a> kcal</h2>
            <h2> Średnia ilość kalorii: <a th:text="${statistic?.avgCalories}"></a> kcal</h2>
            <h2> Średnie tempo: <a th:text="${#strings.substring(statistic?.avgPace,3,8)}"></a> min/km</h2>
            <h2> Średnia prędkość: <a th:text="${statistic?.avgSpeed}"></a> km/h</h2>
        </div>

    </div>
</div>
</body>
</html>